
.categorySummaryPanel {
    height: 100%;
    width: 100%;
    background: white;
    padding-top: 10px;
}

.imageContainer {
    width: 14em;
    margin: 0 auto;
    position: relative;
}

.piechart {
    width: 12em;
}

.categoryListContainer {
    margin: 20px;
}

.categoryListContainer label, categoryListContainer label h4, categoryListContainer label span {
    margin: 0;
}