
.categorySummaryPanel {
    height: 100%;
    width: 100%;
    background: white;
    padding-top: 10px;
}

#PieChartContainer {
    max-width: 14em;
    margin: 0 auto;
}

#PieChart { 
    
}

.categoryListContainer {
    margin: 20px;
}

h4 {
    margin-left: 1em;
}

#FoodProgressBar {
    background: #d24136;
}

#FoodProgressBarBottom {
    background: #931d14;
    border: 3px solid #d24136;
}

#TransportationProgressBar {
    background: #ffa866;
}

#TransportationProgressBarBottom {
    background: #d87c36;
    border: 3px solid #ffa866;
}


#LifestyleProgressBar {
    background: #698c9e;
}

#LifestyleProgressBarBottom {
    background: #3b5968;
    border: 3px solid #698c9e;
}


#HousingProgressBar {
    background: #80c6e2;
}

#HousingProgressBarBottom {
    background: #327f9e;
    border: 3px solid #80c6e2;
}

#InsuranceProgressBar {
    background: #64afa4;
}

#InsuranceProgressBarBottom {
    background: #347c72;
    border: 3px solid #64afa4;
}


#GivingProgressBar {
    background: #aa75b2;
}

#GivingProgressBarBottom {
    background: #673d6d;
    border: 3px solid #aa75b2;
}


.ProgressBarContainer {
    display: block;
    position: relative;
    background: #3d638e;
    width: 22em;
    height: 1.65em;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
}

.ProgressBarTop {
    background: rgba(68, 132, 206, 0.7);
    transition: all .5s ease-in-out;
    width: 0;
}

.ProgressBarInnerElement {
    height: 1.65em;
    vertical-align: middle;
    position: relative;
    max-width: 22em;
    position: absolute;
}

.ProgressBarTextContainer {
    color: white;
    background: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;       
}

.ProgressBarTextContainer span {
    font-size: 1em;
    height: 100%;
    line-height: 1.65em;
    vertical-align: middle;
}

.ProgressColumnMiddle {
    width: 20%;
    float: left;
    display: block;
    position: relative;
}

.ProgressColumn {
    width: 40%;
    float: left;
    display: block;
    position: relative;
}