
#foodHeader, #givingHeader, #housingHeader, #insuranceHeader, #lifestyleHeader, #transportationHeader {
    font-weight: bold;
    font-size: 1.15em;
    overflow: hidden;
    margin: 2px;
    border: 0px;
    padding: 0;
    background: white;
}

#foodHeader:hover, #givingHeader:hover, #housingHeader:hover, #insuranceHeader:hover, #lifestyleHeader:hover, #transportationHeader:hover {
    background: white;
    color: #222;
    overflow: hidden;
}

.categoryTableContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    background: #f9f9f9;
}

.categorySection {
    width: 70%;
    min-width: 41em;
    margin: 15px auto;
    margin-bottom: 50px;
    padding: 0;
    border: 1px solid #888;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 4px #999;
}

.headerCell {
    padding-top: 25px;
    padding-bottom: 5px;
    border: 0;
}