
#foodHeader, #givingHeader, #housingHeader, #insuranceHeader, #lifestyleHeader, #transportationHeader {
    font-weight: bold;
    font-size: 1.15em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    margin: 2px;
}

#foodHeader:hover, #givingHeader:hover, #housingHeader:hover, #insuranceHeader:hover, #lifestyleHeader:hover, #transportationHeader:hover {
    background: white;
    color: #222;
    overflow: hidden;
}

#givingHeader {
    
}

#housingHeader {
    
}

#insuranceHeader {
    
}

#lifestyleHeader {
    
}

#transportationHeader {
    
}

.headerRow, .headerRow th {
    background: #f2f2f2;
    color: #222;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    overflow: hidden;
}

.categoryTableContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    background: #f9f9f9;
}

.categorySection {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    min-width: 25em;
    max-width: 45em;
    display: block;
    border: 1px solid #222;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 2px 3px 4px #888;
    border: 1px solid #888;
    background: white;
}

.categorySection table {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.headerCell {
    padding-top: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.addItemButtonContainer {
    height: 2.5em;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid #888;
    background: white;
    display: block;
    clear: both;
    text-align: center;
}

.addItemButtonContainer button {
    height: 100%;
    width: 100%;
    line-height: 100%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: block;
    background: white;
    font-size: 1.15em;
    border: 0;
    color: #4484CE;
}

.addItemButtonContainer button:hover {
    background: #f2f2f2;
    cursor: pointer;
}