
#BackToLoginForm {
    height: 100%;
    display: inline-block;
}

#BackToLoginButton {
    padding: 0 15px;
    background-color: #4484CE;
    color: white;
    font-size: 1.4em;
    border: none;
    cursor: pointer;
    height: 100%;
    display: block;
}

#BackToLoginButton:hover {
    cursor: pointer;
    background: #364c66;
}

#CreateAccountFormContainer {
    margin: 20px;
    margin-left: 40px;
}

#CreateAccountFormContainer h2 {
    text-align: left;
    margin: 10px;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 15px;
}

#CreateAccountFormContainer form label {
    display: block;
    font-size: 1.15em;
    margin: 10px;
}

#CreateAccountFormContainer form label span:first-child {
    width: 10em;
    display: inline-block;
}

#CreateAccountFormContainer form label input {
    font-size: 1.0em;
    width: 8em;
    display: inline-block;
    width: 12em;
    padding: 5px;
}

#SubmitNewAccountButton {
    font-size: 1.15em;
    padding: 5px 10px;
}
