
/*************** MODAL POPUP ***************/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 30em;
    border-radius: 8px;
 }

 /*************** CLOSE BUTTON ***************/
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    vertical-align: top;
    line-height: 100%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*************** FORM ***************/
.modalForm {
    overflow: hidden;
    white-space: nowrap;
}

.modalForm h1 {
    margin-bottom: 10px;
}

.modalForm label {
    margin: 20px 2px;
    display: block;
    height: 2em;
    line-height: 2em;
    vertical-align: bottom;
}

.modalForm label span {
    float: left;
    width: 15%;
    text-align: left;
    height: 100%;
    line-height: 2em;
    padding-right: 3%;
    font-size: 1.15em;
    
    clear: right;
    vertical-align: bottom;
}

.modalForm label input {
    height: 1.5em;
    line-height: 100%;
    outline: 0 none;
    padding: 3px;
    padding-right: 10px;
    width: 65%;
    font-size: 1.15em;
    float: right;
    overflow: hidden;
}

.modalForm label select {
    height: 2em;
    line-height: 100%;
    outline: 0 none;
    padding: 3px;
    width: 80%;
    font-size: 1.15em;
}

.modalForm input[type="button"], .modal-content input[type="submit"], .modal-content input[type="button"] {
    font-size: 1.2em;
    margin: 10px 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 5px 10px;
}