
a, a:visited, .editButton {
    color: #4484CE;
    text-decoration: none;
}

.addButton, .addButton:visited {
    color: #4484CE;
    background: none;
    border: 1px solid white;
    margin: 4px;
    padding: 2px;
    text-decoration: none;
    font-size: 1.12em;
    text-align: center;
    font-size: 1.15em;
    width: 1.5em;
    vertical-align: middle;
}

.addButton:hover {
    background: #f8f8f8;
    border-color: #4484CE;
    cursor: pointer;
}

.editButton, .editButton:visited {
    color: #4484CE;
    background: none;
    border: 1px none;
    padding: 0;
    margin: 5px;
    text-decoration: none;
    font-size: 0.9em;
}

.deleteButton, .deleteButton:visited {
    color: #ea614f;
    background: none;
    border: 0;
    padding: 0;
    margin: 5px;
    text-decoration: none;
    font-size: 0.9em;
}

.deleteButton:hover, .editButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.AddItemButton {
    width: 100%;
    line-height: 2.4em;
    padding: 2px 0;
    margin: 0;
    vertical-align: middle;
    display: block;
    background: white;
    font-size: 1.1em;
    border: 0;
    border-top: 1px solid #c0c0c0;
    color: #4484CE;
}

.AddItemButton:hover {
    background: #f8f8f8;
    cursor: pointer;
}

#TransactionsButtonContainer {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 17em;
}

#TransactionsButton {
    border: 0px;
    background: none;
    color: #222;
    font-size: 1.4em;
    white-space: normal;
    
}

#TransactionsButton:hover{
    color: #4484CE;
    cursor: pointer;
    text-decoration: underline;
}