
.loginWrapper {
    height: 100%;
    width: 100%;
}

.loginFormContainer {
    margin: 0 auto;
    width: 28em;
    height: auto;
    padding: 30px;
    border: 0;
    background-color: #4484CE;
    display: block;
    top: -50%;
    transform: translateY(50%);
    border-radius: 5px;
    border: 1px #b1b1b1;
    box-shadow: 3px 5px 20px #b1b1b1;
    text-align: center;
}

.loginFormContainer h1 {
    color: white;
    margin: 10px 0;
}

.loginFormContainer form {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.loginFormContainer form input[type="text"], input[type="password"] {
    margin: 10px 5px;
    padding: 5px;
    width: 23em;
    font-size: 1.1em;
}

.loginFormContainer form input[type="button"] {
    margin: 10px 5px;
    padding: 5px;
    font-size: 1.1em;
}

.loginFormContainer form input[type="submit"] {
    margin: 10px 5px;
    padding: 5px;
    font-size: 1.1em;
}