
.loginFormContainer {
    margin: 5px;
    padding: 0px;
    border: 0px;
    background-color: #B1B1B1;
    display: inline-block;
}

.loginForm {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.loginFormTextInput {
    margin: 5px;
    padding: 5px;
    width: 250px;
    font-size: 1.1em;
}

.loginFormPasswordInput {
    margin: 5px;
    padding: 5px;
    width: 250px;
    font-size: 1.1em;
}

.loginFormButtonInput {
    margin: 5px;
    padding: 5px;
    font-size: 1.1em;
}

.loginFormSubmitInput {
    margin: 5px;
    padding: 5px;
    font-size: 1.1em;
}