/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2017, 11:59:35 PM
    Author     : mcarb
*/

.listWrapper {
    display: table;
    width: 66%;
    margin: 0 auto;
}

.menuBarContainer {
    height: 3.5em;
    width: 100%;
    margin: 0px;
    background-color: #B1B1B1;
    overflow: hidden;
    position: fixed;
    display: table-row;
}

.menuBarList {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    line-height: 3.5em;
    width: 100%;
}

.menuBarItem {
    display: inline;
    float: left;
    margin: 0px;
    padding: 0px;
}

.menuBarItem a {
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    display: block;
    padding: 0px 16px;
}

#signOutButton {
    float: right;
}

.menuBarItem a:hover {
    text-decoration: none;
    color: white;
}