
.menuBarContainer {
    height: 3em;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #3d638e;
    display: block;
    position: absolute;
    top: 3em;
    right: 0;
    left: 0;
}

.menuBarContainer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    vertical-align: middle;
    line-height: 3em;
}

.menuBarContainer ul li {
    display: inline;
    float: left;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.menuBarContainer ul > li:last-child {
    float:right;
}

.menuBarContainer ul li a {
    font-size: 1.03em;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: white;
    display: block;
    padding: 0px 15px;
    overflow: hidden;
}

.menuBarContainer ul li a:hover {
    color: white;
    background: #364c66;
}